# Ignore everything
/*
!.gitignore
!its_live_web_app_tutorial.ipynb
!/geoms 
!/images
!environment.yml
!store_its_live_velocities_2022.json
!ITS_LIVE API_tutorial.ipynb
!its_live_datacube_term_poly_tutorial.ipynb
!its_live_datacube_tutorial.ipynb
